.directors {
    padding: 140px 0;
    background-color: $color-deep-jungle-green;
    background-image: url("../../imges/main-bottom-right-bg.png"),
                        url("../../imges/square-bg.png");

    background-repeat: no-repeat;
    
    background-position: calc(50% - 680px) top,
                        right bottom;       
}
.directors__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.directors__title {
    font-size: 48px;
    line-height: 1;
}
.directors__list {
    display: flex;
    flex-wrap: wrap;
    @include list-unstyled;
    margin-left: -30px;
    margin-bottom: -76px;
}
.directors__item {
    margin-left: 30px;
    margin-bottom: 76px;
}